In [21]:
import pandas as pd
import numpy as np

from utils.pandasUtils import save_dt, get_main_dt, get_dt
from fuzzywuzzy import fuzz, process

In [2]:
dt = get_main_dt()
dt.head()

        surface text_type                                               text
image
paper-4   paper   printed  50.87\nТРЕБОВАНИЯ БЕЗОПАСНОСТИ\nЦЕМЕНТ СООТВЕТ...
paper-1   paper   printed         EWL\nПЕСКОБЕТОН\nM-300\n40 RU\nCOXAR CHEC)
paper-2   paper   printed  ecomaterial\nbasic\nEMENT®\nЦЕМЕНТ\nССПЦ 500-Д...
paper-3   paper   printed  НЕ БРОСАТЬ!\nПроизводитель / Manufacturor\nОЛО...
paper-5   paper   printed  Г КВАРЦЕВЫЙ ПЕСОК\nИРАНОРНАЯ КРОШКА\nПЛЕНКА\nС...

In [3]:
dt.groupby(['surface']).size()

surface
brick      28
glass      14
gold        7
metal      20
paper      12
plastic    14
silver     16
tyre       17
wood       22
dtype: int64

In [4]:
dt.groupby(['text_type']).size()

text_type
pressed        51
printed        55
squeezedout    44
dtype: int64

In [35]:
easyocr_column_name = 'easyocr'

dt_easyocr = get_dt(easyocr_column_name)
dt_easyocr.head()

                                                   easyocr
image
paper-4  50 КГ 8т 'БЕЗОПАСНОСТИ SAFETY REQUIREMENTS ТРЕ...
paper-1               NWI ПЕСКОБЕТОК [-з0б иихая Сиви аОкг
paper-2  ны EMENT ППРОМЕМЕИТ 1p ССПЦ 500-Д20 ~ # |_= Ра...
paper-3  Птомагад Шапukulurn адотвск Рассмg; Баикортост...
wood-16  660 MUK ХАЛЕВОЛ OCП 3 E1 2500x1250x12 TY 5534-...

In [39]:
dt_easyocr = dt_easyocr.assign(levenstein=pd.Series(np.random.randn(len(dt_easyocr))).values)

for image in dt_easyocr.index:
    if image in dt.index.values:
        expected = str(str(dt.text.loc[image])).lower()
        actual = str(dt_easyocr.easyocr.loc[image]).lower()

        dt_easyocr.loc[image] = actual, fuzz.ratio(expected, actual)

dt_easyocr.head()

                                                   easyocr  levenstein
image
paper-4  50 кг 8т 'безопасности safety requirements тре...        18.0
paper-1               nwi пескобеток [-з0б иихая сиви аокг        38.0
paper-2  ны ement ппромемеит 1p сспц 500-д20 ~ # |_= ра...         6.0
paper-3  птомагад шапukulurn адотвск рассмg; баикортост...        21.0
wood-16  660 muk халевол ocп 3 e1 2500x1250x12 ty 5534-...        84.0

In [40]:
save_dt(dt_easyocr, easyocr_column_name)

In [41]:
pytesseract_column_name = 'pytesseract'

dt_pytesseract = get_dt(pytesseract_column_name)
dt_pytesseract.head()

                                               pytesseract
image
paper-4  TULATENDHO PASMEWWATS CHKVYIO CMECh\n\nA oT EQ...
paper-1                                 NECKOBETOK\nLM\n\n
paper-2  Nw EMENT\n\necomaterial\nCCT, 500-1120 basi¢\n...
paper-3  2, ToKIheakay\nshkortostan, 4891\nTELEAK #7347...
paper-4  TULATENDHO PASMEWWATS CHKVYIO CMECh\n\nA oT EQ...

In [42]:
dt_pytesseract = dt_pytesseract.assign(levenstein=pd.Series(np.random.randn(len(dt_pytesseract))).values)

for image in dt_pytesseract.index:
    if image in dt.index.values:
        expected = str(str(dt.text.loc[image])).lower()
        actual = str(dt_pytesseract.pytesseract.loc[image]).lower()

        dt_pytesseract.loc[image] = actual, fuzz.ratio(expected, actual)

dt_pytesseract.head()

                                               pytesseract  levenstein
image
paper-4  image\npaper-4    image\npaper-4    tulatendho...         5.0
paper-1                                 neckobetok\nlm\n\n         8.0
paper-2  nw ement\n\necomaterial\ncct, 500-1120 basi¢\n...        22.0
paper-3  2, tokiheakay\nshkortostan, 4891\nteleak #7347...         8.0
paper-4  image\npaper-4    image\npaper-4    tulatendho...         5.0

In [43]:
save_dt(dt_pytesseract, pytesseract_column_name)

In [44]:
doctr_column_name = 'doctr'

dt_doctr = get_dt(doctr_column_name)
dt_doctr.head()

                                                     doctr
image
paper-4  50.81 SAFETY REQUIREMENTS GOST 31108-2016 AND ...
paper-1  NWL NECKOBETOK M-300 CYXAN CHECE IENENTHO-RSCM...
paper-2  JEMENT EBPOMEEWT ecomaterial basic tpyn CCn450...
paper-3  HE SPOCATb! pomamopwren, - Manufacturer OAOHSC...
paper-5  XOTIO,HBAA ACOAIbI "ONMMKC" BCEnOrOAHbI OT-20 ...

In [45]:
dt_doctr = dt_doctr.assign(levenstein=pd.Series(np.random.randn(len(dt_doctr))).values)

for image in dt_doctr.index:
    if image in dt.index.values:
        expected = str(str(dt.text.loc[image])).lower()
        actual = str(dt_doctr.doctr.loc[image]).lower()

        dt_doctr.loc[image] = actual, fuzz.ratio(expected, actual)

dt_doctr.head()

                                                     doctr  levenstein
image
paper-4  50.81 safety requirements gost 31108-2016 and ...        13.0
paper-1  nwl neckobetok m-300 cyxan chece ienentho-rscm...        27.0
paper-2  jement ebpomeewt ecomaterial basic tpyn ccn450...        26.0
paper-3  he spocatb! pomamopwren, - manufacturer oaohsc...        17.0
paper-5  xotio,hbaa acoaibi "onmmkc" bcenoroahbi ot-20 ...         8.0

In [46]:
save_dt(dt_doctr, doctr_column_name)